
.navbar-login {
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session {
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size {
    font-size: 87px;
}

.col-auto {
    width: auto;
}

.form-separacion {
  padding-top: 1em;
}

.imagePrev {
    max-height: 10em;
    margin: 1em;
}

.imageBig {
        max-height: 25em;
        max-width: 5em;
}

@media (min-width: 768px) {
    .imageBig {
        max-height: 25em;
        max-width: 6em;
    }
}

@media (min-width: 992px) {
    .imageBig {
        max-height: 25em;
        max-width: 8em;
    }
}

@media (min-width: 1200px) {
    .imageBig {
        max-height: 25em;
        max-width: 10em;
    }
}

.imageLittle {
    max-height: 5em;
}

.name {
    font-weight: bold;
}

.modal-header-inverse {
    background-color: #222222;
    min-height: 16.42857143px;
    padding: 15px;
    border-bottom: 1px solid #E5E5E5;
    border-radiust: 6px;
    color: #FFFFFF;
}

.modal-header-inverse .close {
    margin-top: -2px;
}

.jornada {
    max-height: 20em;
    border: none;
    max-width: 100%;
}

.jornada table {
    width: 100%;
    margin: 0;
    max-width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
    border-spacing: 0px;
    border: 1px solid #C0C0C0;
}

.jornada td {
    text-align: center;
    width: 20px;
    height: 20px;
    margin: 3px 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #C0C0C0;

}

.jornada th {
    color: #3a87ad;
    background: #d9edf7;
    text-align: center;
    width: 20px;
    height: 20px;
    border: 1px solid #C0C0C0;
    padding: 3px 0;
    /*-webkit-border-radius: 4px;*/
    /*-moz-border-radius: 4px;*/
    /*border-radius: 4px;*/
}

.jornada td.butt {
    color: #ffffff;
    background-color: #3dbf74;
}

.jornada td.butt:hover {
    cursor: pointer;
}

.jornada td.butt:hover,
.jornada td.butt:hover:hover,
.jornada td.butt:focus,
.jornada td.butt:hover:focus,
.jornada td.butt:hover:active,
.jornada td.butt:hover.active,
.jornada td.active.disabled,
.jornada td.butt:hover.disabled,
.jornada td.active[disabled],
.jornada td.butt:hover[disabled] {
    background-color: #468c46;
}

.jornada td.butt.disabled,
.jornada td.butt[disabled],
fieldset[disabled] .jornada td.butt {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.jornada td.butt.disabled:hover,
.jornada td.butt[disabled]:hover,
fieldset[disabled] .jornada td.butt:hover {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}
.jornada td.butt-visual {
    color: #ffffff;
    background-color: #3D55BF;
}

.jornada td.butt-visual:hover {
    cursor: pointer;
}

.jornada td.butt-visual:hover,
.jornada td.butt-visual:hover:hover,
.jornada td.butt-visual:focus,
.jornada td.butt-visual:hover:focus,
.jornada td.butt-visual:hover:active,
.jornada td.butt-visual:hover.active,
.jornada td.active.disabled,
.jornada td.butt-visual:hover.disabled,
.jornada td.active[disabled],
.jornada td.butt-visual:hover[disabled] {
    background-color: #192A78;
}

.jornada td.butt-visual.disabled,
.jornada td.butt-visual[disabled],
fieldset[disabled] .jornada td.butt-visual {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.jornada td.butt-visual.disabled:hover,
.jornada td.butt-visual[disabled]:hover,
fieldset[disabled] .jornada td.butt-visual:hover {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.jornada td.butt-danger {
    color: #ffffff;
    background-color: #d10d0c;
}

.jornada td.butt-danger:hover {
    cursor: pointer;
}

.jornada td.butt-danger:hover,
.jornada td.butt-danger:hover:hover,
.jornada td.butt-danger:focus,
.jornada td.butt-danger:hover:focus,
.jornada td.butt-danger:hover:active,
.jornada td.butt-danger:hover.active,
.jornada td.active.disabled,
.jornada td.butt-danger:hover.disabled,
.jornada td.active[disabled],
.jornada td.butt-danger:hover[disabled] {
    background-color: #910d0c;
}

/*.jornada td a,
.jornada td a:hover{
    color: #ffffff;

}*/

.jornadapicker {
    top: 0;
    left: 0;
    padding: 4px;
    margin-top: 1px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    max-height: 20em;
    overflow: auto;
    background-color: #ffffff;
}

.jornadapicker > div {
    display: none;
    max-height: 20em;
    overflow: auto;
}

.jornadapicker table {
    width: 100%;
    margin: 0;
}

.jornadapicker td,
.jornadapicker th {
    text-align: center;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.jornadapicker td.day:hover {
    background: #eeeeee;
    cursor: pointer;
}

.jornadapicker td.day.disabled {
    color: #eeeeee;
}

.jornadapicker td.old,
.jornadapicker td.new {
    color: #7f7f7f;
}

.jornadapicker td.active,
.jornadapicker td.active:hover {
    color: #ffffff;
    background-color: #006dcc;
    background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
    background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
    background-image: -o-linear-gradient(top, #0088cc, #0044cc);
    background-image: linear-gradient(to bottom, #0088cc, #0044cc);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
    border-color: #0044cc #0044cc #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #0044cc;
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */

    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.jornadapicker td.active:hover,
.jornadapicker td.active:hover:hover,
.jornadapicker td.active:focus,
.jornadapicker td.active:hover:focus,
.jornadapicker td.active:active,
.jornadapicker td.active:hover:active,
.jornadapicker td.active.active,
.jornadapicker td.active:hover.active,
.jornadapicker td.active.disabled,
.jornadapicker td.active:hover.disabled,
.jornadapicker td.active[disabled],
.jornadapicker td.active:hover[disabled] {
    color: #ffffff;
    background-color: #0044cc;
    *background-color: #003bb3;
}

.jornadapicker td.active:active,
.jornadapicker td.active:hover:active,
.jornadapicker td.active.active,
.jornadapicker td.active:hover.active {
    background-color: #003399 \9;
}

.jornadapicker td span {
    background-color: #ffffff;
    display: block;
    width: 47px;
    height: 54px;
    line-height: 54px;
    float: left;
    margin: 2px;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.jornadapicker td span:hover {
    background: #eeeeee;
}

.jornadapicker td span.active {
    color: #ffffff;
    background-color: #006dcc;
    background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
    background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
    background-image: -o-linear-gradient(top, #0088cc, #0044cc);
    background-image: linear-gradient(to bottom, #0088cc, #0044cc);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
    border-color: #0044cc #0044cc #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #0044cc;
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */

    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.jornadapicker td span.active:hover,
.jornadapicker td span.active:focus,
.jornadapicker td span.active:active,
.jornadapicker td span.active.active,
.jornadapicker td span.active.disabled,
.jornadapicker td span.active[disabled] {
    color: #ffffff;
    background-color: #0044cc;
    *background-color: #003bb3;
}

.jornadapicker td span.active:active,
.jornadapicker td span.active.active {
    background-color: #003399 \9;
}

.jornadapicker td span.old {
    color: #999999;
}

.jornadapicker th.switch {
    width: 145px;
}

.jornadapicker th.next,
.jornadapicker th.prev {
    font-size: 21px;
}

.jornadapicker thead tr:first-child th {
    cursor: auto;
    color: #3a87ad;
    background: #d9edf7;
}

.jornadapicker thead tr:first-child th:hover {
    background: #d9edf7;
}

.input-append.date .add-on i,
.input-prepend.date .add-on i {
    display: block;
    cursor: pointer;
    width: 16px;
    height: 16px;
}

.jor-width > .modal-dialog {
    width: auto;
    max-width: 35em !important;
}

@media (min-width: 768px) {
    .jor-width > .modal-dialog {
        width: auto;
        max-width: 45em !important;
    }
}

@media (min-width: 992px) {
    .jor-width > .modal-dialog {
        width: auto;
        max-width: 55em !important;
    }
}

@media (min-width: 1200px) {
    .jor-width > .modal-dialog {
        width: auto;
        max-width: 80em !important;
    }
}

.part-width > .modal-dialog {
    width: auto;
    max-width: 30em !important;
}

@media (min-width: 768px) {
    .part-width > .modal-dialog {
        width: auto;
        max-width: 40em !important;
    }
}

@media (min-width: 992px) {
    .part-width > .modal-dialog {
        width: auto;
        max-width: 45em !important;
    }
}
@media (min-width: 1200px) {
    .part-width > .modal-dialog {
        width: auto;
        max-width: 70em !important;
    }
}

.row-right {
    margin-right: auto;
}

.selectable {
    cursor: pointer;
}

.gol {
    font-size: medium;
}

#tabla {
    max-width: 90%;
    margin: 5px auto;
}

#tabla td {
    vertical-align: middle;
}

#tabla .admin {
    width: 150px;
    text-align: center;
}

#tabla .privado {
    text-align: center;
    font-style: italic;
}

#tabla .well{
    overflow: auto;
}

.aviso {
    max-width: 500px;
    margin: 10px auto;
}

.aviso .fa {
  margin-right: 10px;
}

.well h4 {
    margin-top: 25px;
}

.well .informacion {
    margin-left: 20px;
}

.well .panel {
    max-height: 300px;
    width: 90%;
    overflow-y: auto;
}

.deljugador {
}

.alerta {
    display: none;
}

#formulario-usuario {
  text-align: center;
  max-width: 500px;
  margin: 10px auto;
}
.input-group-addon .fa {
  width: 15px;
}

.main {
  padding: 20px;

    padding-right: 40px;
    padding-left: 40px;
}
.main .page-header {
  margin-top: 0;
}

body {
  padding-top: 50px;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.btn span.fa {
  margin-right: 5px;
}

.mgrtop {
  margin-top: 5px;
}

.table.sortable-theme-bootstrap > thead > tr > th {
  vertical-align: baseline !important;
}

.listado{
    margin-top: 0.5em;
}

.index-page table tr th:first-child,
.index-page table tr td:first-child{
    padding-right: 1em;
}